<%-include("./partials/header.ejs") %>
<h1>Vezi vremea curenta si prognoza meteo pentru orice oras din intreaga lume</h1>
<form action="/locatie" method="post">

    <label for="nume">Oras:</label>
    <input type="text" id="city" name="city" required>
    <input type="submit" value="Vezi Vremea">
  </form>

  <% if(locals.error){ %>
  <h2><%= error %></h2>
  <% } %>
